<p fundoAmarelo>
    Texto com fundo amarelo.
</p>

<button fundoAmarelo>Botão com fundo amarelo.</button>

<br><br>

<p highlightMouse>
    Texto com highlight quando passar o mouse.
</p>

<p [defaultColor]="'greey'" [highlight]="'red'">
    Texto com highlight com cores customizadas.
</p>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>

<div *ngElse="mostrarCursos">
    Não existem cursos para serem listados.
</div>

<br>
<button (click)="onMostraCursos()">
    Motrar ou esconder cursos
</button>
<br>
<template [ngElse]="mostrarCursos">
    <div>
        Não existem cursos para serem listados.
    </div>
</template>